html{
    background-image: url("../images/background.jpg");
}
@font-face {
    font-family: 'muli_blackregular';
    src: url('../fonts/muli-black-webfont.woff2') format('woff2'),
    url('../fonts/muli-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muli_blackitalic';
    src: url('../fonts/muli-blackitalic-webfont.woff2') format('woff2'),
    url('../fonts/muli-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muli_extraboldregular';
    src: url('../fonts/muli-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/muli-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: '../fonts/muliregular';
    src: url('../fonts/muli-regular-webfont.woff2') format('woff2'),
    url('../fonts/muli-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: '../fonts/muli_semiboldregular';
    src: url('../fonts/muli-semibold-webfont.woff2') format('woff2'),
    url('../fonts/muli-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 0;
    align-items: center;
    grid-template-areas:
      ". Wheel"
      "Text Wheel"
      ". Wheel";
  }

.text
{
    margin-left: 50px;
    grid-area: Text;
}

.wheel
{
    grid-area: Wheel;
}


td.example_wheel_of_fortune
{
	padding-top: 4px;
    background: url("../images/fortune_wheel_back.png") no-repeat center;
}
.ready
{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: 0;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.subtitle
{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.spin_button {
	box-shadow:inset 0 0 0 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    display:inline-block;
	cursor:pointer;
	color:#666666;
    font-family: Arial, serif;
	font-size:18px;
	font-weight:bold;
	padding:13px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #ffffff;
}
.spin_button:hover {
    background: #f6f6f6 linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
}
.spin_button:active {
	position:relative;
	top:1px;
}
