@font-face {
    font-family: 'muli_blackregular';
    src: url('/fonts/muli-black-webfont.woff2') format('woff2'),
    url('/fonts/muli-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muli_blackitalic';
    src: url('/fonts/muli-blackitalic-webfont.woff2') format('woff2'),
    url('/fonts/muli-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muli_extraboldregular';
    src: url('/fonts/muli-extrabold-webfont.woff2') format('woff2'),
    url('/fonts/muli-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muliregular';
    src: url('/fonts/muli-regular-webfont.woff2') format('woff2'),
    url('/fonts/muli-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muli_semiboldregular';
    src: url('/fonts/muli-semibold-webfont.woff2') format('woff2'),
    url('/fonts/muli-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #0b075c;
    background-image: url("/images/fond-halo.png"), url("/images/fond-halo.png"), url("/images/fond-halo.png"), url("/images/fond-halo.png"), url("/images/fond-halo.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: top 10% left 10%, center left 35%, bottom 10% left 25%, center left, right 15% top 10%;
    font-family: muliregular, "Arial Black", Gadget, sans-serif;
    color: #fff;
}

.app .title {
    font-family: muli_blackregular, sans-serif;
}

button {
    background: url("/images/CTA.png") no-repeat;
    background-size: contain;
    font-family: muli_blackitalic, sans-serif;
}

.btn:focus {
    box-shadow: none;
}

.app {
    min-height: 100vh;
}

.app {
    background-image: url("/images/fond-forme2-points.png"), url("/images/fond-forme1-rond.png"), url("/images/fond-forme2-points.png");
    background-repeat: no-repeat;
    background-position: 10% bottom, 15% 25%, top -1% right 24%;
    background-size: auto 300px, 200px, 201px 333px
}

.wheel-container {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    max-height: 800px;
    background-image: url("/images/transparent.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.app .vh-100 {
    height: inherit !important;
}

#pointer {
    width: 40px;
    top: 8px;
    left: 50%;
    margin-left: -20px;
}

.modal-content {
    border-radius: 49px;
    padding: 1rem;
}

#welcome-popup .modal-content {
    background-color: #1685d0;
}

#result-popup .modal-content {
    background-color: #f97d3e;
}

.stars-square {
    background-image: url("/images/fond-etoile-grande.png"), url("/images/fond-etoile-grande.png"), url("/images/fond-etoile-grande.png"), url("/images/fond-etoile-grande.png"), url("/images/fond-etoile-grande.png");
    background-repeat: no-repeat;
    background-position: top 10px left 149px, top 2px right 145px, top 20px right 115px, bottom 13px left 170px, bottom -2px right 135px;
    background-size: 30px;
}

.modal-body {
    padding: 0;
    border-radius: 49px;
}

.ray-opacity {
    opacity: .3;
}

.bling-bling {
    position: absolute;
    -webkit-animation: bling .5s ease infinite;
    animation: bling .5s ease infinite;
}

.bigger {
    width: 45px;
}

.smaller {
    width: 25px;
}

@-webkit-keyframes bling {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes bling {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}

.bounce {
    -webkit-animation: bounce .2s ease 2;
    animation: bounce .2s ease 2;
}

@keyframes bounce {
    from {
        top: 5px;
    }
    50% {
        top: 0;
    }
    to {
        top: 5px;
    }
}

@-webkit-keyframes bounce {
    from {
        top: 5px;
    }
    50% {
        top: 0;
    }
    to {
        top: 5px;
    }
}

@media (min-width: 992px) {
    .app > .row {
        min-height: 100vh;
    }

    .app .vh-100 {
        height: 100vh !important;
    }

    .wheel-container {
        padding: 0;
    }

    .wheel-embed {
        height: 600px !important;
        width: 600px !important;
    }

    @keyframes bounce {
        from {
            top: 8px;
        }
        50% {
            top: 4px;
        }
        to {
            top: 8px;
        }
    }
    @-webkit-keyframes bounce {
        from {
            top: 8px;
        }
        50% {
            top: 4px;
        }
        to {
            top: 8px;
        }
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }
}
