@font-face {
    font-family: 'muli_blackregular';
    src: url('/fonts/muli-black-webfont.woff2') format('woff2'),
    url('/fonts/muli-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muli_blackitalic';
    src: url('/fonts/muli-blackitalic-webfont.woff2') format('woff2'),
    url('/fonts/muli-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muli_extraboldregular';
    src: url('/fonts/muli-extrabold-webfont.woff2') format('woff2'),
    url('/fonts/muli-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muliregular';
    src: url('/fonts/muli-regular-webfont.woff2') format('woff2'),
    url('/fonts/muli-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muli_semiboldregular';
    src: url('/fonts/muli-semibold-webfont.woff2') format('woff2'),
    url('/fonts/muli-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #172566;
    font-family: muliregular, "Arial Black", Gadget, sans-serif;
    color: #fff;
}
button {
    background: url("/images/CTA.png") no-repeat;
    background-size: contain;
    font-family: muli_blackitalic, sans-serif;
}
.btn:focus {
    box-shadow: none;
}

.app {
    min-height: 100vh;
}

@media (min-width: 768px) {
    .app > .row {
        min-height: 100vh;
    }
}

.app {
    background-image: url("/images/fond-forme2-points.png"), url("/images/fond-forme1-rond.png"), url("/images/fond-forme2-points.png");
    background-repeat: no-repeat;
    background-position: 10% bottom, 15% 25%, top -1% right 30%;
    background-size: auto 300px, 200px, 201px 333px
}

.wheel-container {
    width: 100%;
    height: 575px;
    background-image: url("/images/roue-socle.png"), url("/images/roue-top.png");
    background-repeat: no-repeat;
    background-position: center bottom -20px, center top 12px;
    background-size: contain, 150px;
}

#pointer {
    width: 40px;
    top: 72px;
    left: 46%;
}

.modal-content {
    border-radius: 49px;
    padding: 1rem;
}

#welcome-popup .modal-content {
    background-color: #1685d0;
}

.modal-body {
    background: url("/images/fond-rayons.png") no-repeat center;
    background-size: cover;
    padding: 0;
    border-radius: 49px;
    height: 600px;
}

.bling-bling {
    -webkit-animation: bling 10s infinite;
    animation: bling 10s infinite;
}
@-webkit-keyframes bling {
    0% {opacity: 1;}
    2% {opacity: 0.3;}
    4% {opacity: 1;}
}
@keyframes bling {
    0% {opacity: 1;}
    2% {opacity: 0.3;}
    4% {opacity: 1;}
}
